/* Import the fonts used in your main theme */
@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Audiowide&family=Genos:wght@700&family=Quantico&family=Questrial&family=Quicksand:wght@700&family=Sarpanch:wght@400;500&display=swap');

/* Reset and Global Styling */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Sarpanch', sans-serif;
    color: black;
}

a {
    color: rgb(0, 46, 59);
    background-color: transparent;
    text-decoration: none;
    font-weight: 600;
    margin-top: 2rem;
}

a:hover {
    color: #00ddff;
    transition: ease all 500ms;
}

body {
    display: flex;
    flex-direction: column;
    width: 100vw;
    overflow-x: hidden;
    background-color: #c5f7f3; /* Use the same background color as your main theme */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Header Styles (include styles for header if applicable) */
nav {
    display: flex;
    justify-content: center;
    height: 8vh;
    align-items: center;
    font-family: 'audiowide';
}

.navlink {
    font-size: 1.5rem;
}

/* Main Content Styles */
main {
    padding: 20px;
    text-align: center;
    color: #fff;
    display: flex;
    flex-direction: column;
    gap: 5vmin;

    display: flex;
    justify-content: center;
    align-items: center;
}

h3 {
    font-size: 1.2rem;
    margin-bottom: 2vh;
}

/* Section Styles */
section {
    margin: 0rem 10vw; /* Adjust the margin for smaller screens */
    padding: 1rem 10vw; /* Adjust the margin for smaller screens */
    /* padding: 20px; */
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(75, 75, 75, 0.2);
    border: 1px solid #00ddff;
    background-color: aliceblue;
    /* margin-bottom: 20px; */
    width: 60vw;
}

h4 {
    font-size: 1.1rem;
    margin-bottom: 1vh;
}

ul {
    /* list-style-type: none; */
    text-align: start;
}

/* Footer Styles */
footer {
    background-color: transparent;
    height: 5vh;
    padding: 0 0;
    text-align: center;
}

footer .footerlinks {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer .footerlinks a {
    text-decoration: none;
    font-weight: bold;
    margin: 0 20px;
}

/* Media Queries (Responsive Styles) */

@media (max-width: 800px) {
    /* Adjust styles for smaller screens */
    main {
        padding: 10px;
        gap: 3vmin; /* Adjust the gap between elements for smaller screens */
    }

    section {
        margin: 0.5rem; /* Adjust the margin for smaller screens */
        width: 80vw;
    }
}
